@model Biblioteka_project_2.Models.Book
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Details";
}
<br />
<h1>Szczegóły</h1>
<br />
@Html.Partial("_BookImage")
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
    <hr />
</div>
<div>
    <h2>Dodatkowe materiały do pobrania:</h2>
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            Spis treści
        </dt>
        <dd class="col-sm-10">
            <button type="button" class="btn btn-success">Pobierz</button>
        </dd>
        <dt class="col-sm-2">
            Zdjęcie okładki
        </dt>
        <dd class="col-sm-10">
            <button type="button" class="btn btn-success">
                <a > </a>
                Pobierz

            </button>
        </dd>
    </dl>
</div>
<hr />
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Edytuj</a>
    <a asp-action="Index" class="btn btn-warning">Powrót do listy</a>
</div>
